<script> 
    if (messages) {
        if (messages.warning) {
            if (messages.warning.length) {
               /*  div.alert.alert-warning.alert-dismissable
                    a(data-dismiss="alert", aria-label="close").close &times;
                    strong #{messages.warning} */
            }
        }
        if (messages.danger) {
            if (messages.danger.length) {
               /*  div.alert.alert-danger.alert-dismissable
                    a(data-dismiss="alert", aria-label="close").close &times;
                    strong #{messages.danger} */
            }
        if (messages.success) {
            if (messages.success.length) {
                /* div.alert.alert-success.alert-dismissable
                    a(data-dismiss="alert", aria-label="close").close &times;
                    strong #{messages.success} */
            }
        }
    }
</script>	
<script>
    /*     if (userData)
            <div class="dropdown">
                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-info dropdown-toggle"> Hello, #{userData[0].firstName}
                </button>
                <div aria-labelledby="accountDropdown" class="dropdown-menu">
                    <a href="/account" class="dropdown-item">Account</a>
                    .dropdown-divider
                    <a href="/logout" class="dropdown-item">Logout</a>
                </div>
        else
                <button type="button" data-html="true" data-toggle="popover" rel="popover" aria-haspopup="true" aria-expanded="false" data-content="<form action='/login' method='POST' class='form-signin'><input type='text' name='username' placeholder='Email' required='required' autofocus='autofocus' class='form-control'/>  <input type='password' name='password' placeholder='Password' required='required' class='form-control'/>  <input type='checkbox' name='remember' placeholder='Remember me'/>  Remember me  <button type='submit' class='btn btn-lg btn-primary btn-block'>Sign in</button><span class='clearfix'></span></form><a href='/join' class='text-center new-account'>Create an account</a>" class="btn btn-info">Log in
                </button>
            </div>
            <br> */
    </script>