<!DOCTYPE html>
    <% include partials/header %>
    <div class="container-fluid">
        <div class="container">
            <p>
                Account
            </p>
            <br>
        </div>
    </div>
    <% include partials/footer %>
</body>
</html>
    

					
				
